@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.hero-bg {
    background-image: url('/collection-sm.jpeg');
}

@media screen and (min-width: 988px) {
    .hero-bg {
        background-image: url('/collection.jpg');
    }
}


.hero-bg:hover {
    outline: 3px solid #fff;
    outline-offset: -10px;
}

.logo {
    z-index: 1022;
    display: block;
    height: 2.8125rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 10rem
}