@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.hero-a:hover {
    outline: 3px solid #fff;
    outline-offset: -10px;
}